* {
    margin: 0%;
    box-sizing:border-box;
 
}

@font-face {
    font-family: 'RockSalt-Regular';
    src: url('../img/RockSalt-Regular.ttf') format('truetype');
}

body {
    background: #fff;
}

.header {
    background-color:#f2f2f2;
    padding: 15px;
    display: flex; 
}

h3 {
    text-align: center;
    font-size: 16px;
    color: #8D1F28;
}

.logo {
     size: 254px 5px;
     padding: 30px;
}

nav ul {
    
    font-family: 'Roboto', sans-serif;
    
}
nav li {
    display: inline;
    margin: 20px;
    line-height: 113px;
} 

nav a {
    color: black;
    text-decoration: none;
    font-size: 15pt;
}

.busqueda {
    border-color: #D92526;
    padding: 18px;
}

.rota-horizontal {
    transform: scaleX(-1);
}
 li a {
    padding: 51px;
}
li a:hover {
 background-color: rgba(140, 31, 40, 0.4);
 color: #000000;
 padding: 51px;

}
.walpaper {
    max-width: 100%;
    padding: 0;
}
 
.encabezadoDeBandas {
    color: #8D1F28;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 40px 0px 40px 0px;
    text-align: center;
}

.centro {
    justify-self: center;
}

.descrpcion {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-top: 10%;
}
.info-general {
    padding: 10%;
}
.inegrantesDeBandas {
    height: 50%;
    width: 100%;
}
.circulo-integrantes {
    width: 40%;
}
.genero {
    height: 100%;
    width: 100%;
    background-color: #D92526;
    padding: 2%;
}
.encabezadoDeGenero {
    color: #f2f2f2;
    font-family: 'RockSalt-Regular';
    font-size: 30px;
    margin: 40px 0px 40px 0px;
    text-align: center;
}