* {
    margin: 0%;
    box-sizing:border-box;
 
}

@font-face {
    font-family: 'RockSalt-Regular';
    src: url('../img/RockSalt-Regular.ttf') format('truetype');
}

body {
    background: #fff;
}

.header {
    background-color:#f2f2f2;
    padding: 15px;
    display: flex; 
}

h3 {
    text-align: center;
    font-size: 30px;
    color: #8D1F28;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: #8D1F28;  
    font-size: 40px;
    text-align: center;
    background-color: #f2f2f2;
    
}

ul {
    list-style: none;
    padding-left: 0;
}

.logo {
     size: 254px 5px;
     padding: 30px;
}

nav ul {
    font-family: 'Roboto', sans-serif;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 15pt;
}


.rota-horizontal {
    transform: scaleX(-1);
}
 li a {
    padding: 51px;
}

.walpaper {
    max-width: 100%;
    padding: 0;
}
 
.encabezadoDeBandas {
    color: #8D1F28;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 40px 0px 40px 0px;
    text-align: center;
}

.centro {
    justify-self: center;
}

.descrpcion {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-top: 10%;
}
.info-general {
    padding: 10%;
}
.inegrantesDeBandas {
    height: 50%;
    width: 100%;
}
.circulo-integrantes {
    width: 40%;
}
.genero {
    height: 100%;
    width: 100%;
    background-color: #D92526;
    padding: 2%;
}
.encabezadoDeGenero {
    color: #f2f2f2;
    font-family: 'RockSalt-Regular';
    font-size: 30px;
    margin: 40px 0px 40px 0px;
    text-align: center;
}
.circuloDeBanda {
    border: #f2f2f2;
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.sliderdiscos {
    background-color: #000000;
    padding-top: 10%;
}
.tituloDeProducciones {
    color: #f2f2f2;
    text-align: center;
    font-family: 'RockSalt-Regular';
    
}
.portada {
    width: 100%;
    
}
.informacioDeDiscos {
    padding-top: 5%;
}
.subtitulo {
    color: #8D1F28;
    font-family: 'Roboto', sans-serif;
}
.titulo {
    color: #8D1F28;
    font-family: 'Roboto', sans-serif;
}
.listaIntegrantes {
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
.canciones {
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
.tiempo {
    color: #8D1F28;
}
.listaDeCanciones {
    margin-top: 3%;
}
.volAlbum {
    color: #8D1F28;
}
.tituloDeIntegrantes {
    text-align: center;
    font-family: 'RockSalt-Regular';
    color: #8D1F28;
}
.flechaSiguiente {
    color: #000000;
}

