* {
    margin: 0%;
    box-sizing:border-box;
 
}

body {
    background: #fff;
}

.header {
    background-color:#f2f2f2;
    padding: 15px;
    display: flex;
    
  
}

.logo {
     size: 254px 5px;
     padding: 30px;
}

nav ul {
    
    font-family: 'Roboto', sans-serif;
    
}


.busqueda {
    border-color: #D92526;
    padding: 18px;
}

.rota-horizontal {
    transform: scaleX(-1);
}

h1{
    text-align: left;
    padding: 30px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
     font-size: 48px;
    line-height: revert;
    color: #8D1F28
    
}

.form-label {
    color:#8D1F28;
    font-family: 'Rock Salt', cursive;
    font-size: 32px;
   padding: 6px;

}



h2{
padding:38px ;
width: 1155px;
height: 171px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 75px;
color: #fff;
}

h3{
 color:#fff;
 font-family: 'Rock Salt', cursive;
 font-size: 32px;
 padding: 6px;
}

.grid-container3 {
    display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  padding: 30px;
}

.input:hover {
   background-color: #fff;
    border: -15px ;
    border: double;
}

.grid-container4 {
    display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  padding: 18px;
}

.btn-2:hover{
    background-color: #fff;
    border: 3px solid;
}

footer {
    background-color: #f2f2f2;
}

.icono {
    font-size: 40px;
    color: #000000;
    line-height: 100px;
    padding: 5px;
    display: block;
} 

i:hover {
    color: #D92526;

}

.iconofooter {
    text-align: center;
}


