* {
    margin: 0%;
    box-sizing:border-box;
 
}

body {
    background: #fff;
}

.header {
    background-color:#f2f2f2;
    padding: 15px;
    display: flex;
    
  
}

.logo {
     size: 254px 5px;
     padding: 30px;
}

nav ul {
    
    font-family: 'Roboto', sans-serif;
    
}
nav li {
    display: inline;
    margin: 20px;
    line-height: 113px;
} 

nav a {
    color: black;
    text-decoration: none;
    font-size: 15pt;
}

.busqueda {
    border-color: #D92526;
    padding: 18px;
}

.rota-horizontal {
    transform: scaleX(-1);
}
 li a {
    padding: 51px;
}
li a:hover {
 background-color: rgba(140, 31, 40, 0.4);
 color: #000000;
 padding: 51px;

}